<style>
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
}

</style>

<!-- audio -->
<audio id="beep-one" controls="controls" style="display:none">
  <source src="audio/beep.wav"></source>
</audio>
<audio id="beep-two" controls="controls" style="display:none">
  <source src="audio/beep-2.wav"></source>
</audio>
<audio id="beep-warning" controls="controls" style="display:none">
  <source src="audio/warning.wav"></source>
</audio>


<nav class="navbar navbar-expand navbar-dark bg-primary static-top">

  <a class="navbar-brand mr-1" href="/profile/#">
    <!-- <img src="images/ptit.jpg" class="avatar dropdown-toggle"id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
PTIT HCM
  </a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>


<div class="dropdown ava">
  <img src="<%= Data.user.avatar%>" alt="Avatar" class="avatar dropdown-toggle"id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <b style="color:red" id="txt-UserName"><%= Data.user.username%></b>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><%=Data.user.username%></button>
    <button class="dropdown-item" type="button"><a href="/logout">Logout</a></button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</nav>
