<style>
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
   /* margin-right: 10px; */
}
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="/profile/#">Start Bootstrap</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>


<div class="dropdown">
  <img src="<%= Data.user.avatar%>" alt="Avatar" class="avatar dropdown-toggle"id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button"><%=Data.user.username%></button>
    <button class="dropdown-item" type="button"><a href="/logout">Logout</a></button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</nav>
