<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/libBootstrap/jquery.js"></script>
    <link rel="stylesheet" href="/javascripts/libBootstrap/decoration.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="tablee">
        <div class="time">
          <h1 class="timee"> Day - time</h1>
        </div>

        <div class="nhiet-do">
          <h1 class="nt">Humidity</h1>
        </div>

        <div class="do-am">
          <h1 class="da">Temperature</h1>
        </div>
    </div>
    <div class="container">
      <br><br>
      <a href="/logout"> <button type="button" class="btn btn-primary">Lout out</button></a>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-link">Link</button>
    </div>

    <!-- <canvas id="line-chart" width="400px" height="400px"></canvas> -->
    <canvas id="line-chart" width="200px" height="200px"class="col-md-4"> <canvas>

    <!-- Optional JavaScript -->
    <script src="/javascripts/libBootstrap/handle.js"> </script>


  </body>
</html>
