<!DOCTYPE html>
<html>
  <head>
    <!-- <meta name="google-site-verification" content="ZLWI_xZ6YGxy9KO41uicA7YIOBR3sc9toyWnqIOaz8Q" /> -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome tooooooooooooooooo <%= title %></p>
  </body>
</html>
google-site-verification: googlef973672c25ad254a.html
