<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #00FF00;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #00FF00;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

</style>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"> Table control devices </li>
    <li class="breadcrumb-item active">
        <%=Data.user.username%>
    </li>
    <div> <img src="<%=Data.user.avatar%>" alt="" class="col-xl-3 col-sm-6 mb-3"> </div>
</ol>
<!-- Icon Cards-->
<!-- Hang 1  -->
<div class="row">
    <!-- bang 1 -->
    <!-- Temperature -->
    <% include ./LibFunction/DHT/Temperature %>
        <!-- bang 2 -->
        <!-- Humidity -->
        <% include ./LibFunction/DHT/Humidity %>
            <!-- bang 3 -->
            <!-- tIME -->
            <% include ./LibFunction/DHT/Time %>
                <!-- bang 4 -->
                <!-- Theif -->
                <% include ./LibFunction/InformOther/Theif %>

</div>
<!-- Hang 2 -->
<div class="row">
    <!-- bang 1 -->
    <!-- Lamp - 1 -->
    <% include ./LibFunction/Device/Device-1 %>
        <!-- bang 2 -->
        <!-- Lamp 2 -->
        <% include ./LibFunction/Device/Device-2 %>
            <!-- bang 3 -->
            <!-- Lamp 3 -->
            <% include ./LibFunction/Device/Device-3 %>
                <!-- bang 4 -->
                <!-- Lamp 4 -->
                <% include ./LibFunction/InformOther/Rainning %>

</div>
<!-- Hang 3 -->
<div class="row">
    <!-- bang 1 -->
    <!-- Lamp - 1 -->
    <% include ./LibFunction/Device/Device-4 %>
        <!-- bang 2 -->
        <!-- Lamp 2 -->
        <% include ./LibFunction/Device/Device-5 %>
            <!-- bang 3 -->
            <!-- Lamp 3 -->
            <% include ./LibFunction/Device/Device-6 %>
</div>
