<style type="text/css">
    .btn-lg {
border-radius: 15px!important;
}
  }

</style>

<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
            <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
            </div>
            <div class="mr-5">Device 1

                <!-- Timer input value timer-->
                <div class="input-group mb-3">
                    <input type="number" class="form-control timer-Lamp-1 btn-lg"
                    placeholder="Timer"
                    onfocus="this.value=''"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                    <div class="input-group-append">

                        <button class="btn btn-danger button-timer-Lamp-1-Active btn-lg"
                        type="button"
                        id="button-addon2 ">
                        <!-- <img src="images/rainning.gif" alt="Avatar" class="avatar"id="someElement"> -->
                        ON
                        </button>

                        <button class="btn btn-warning button-timer-Lamp-1-Cancel btn-lg"
                        type="button"
                        id="button-addon2 ">OFF</button>
                    </div>
                </div>
                <!-- timer -->
                <div class="value-timer-lamp-1">
                    <b>time</b>
                </div>

            </div>
        </div>
        <a class="card-footer text-white clearfix small z-1"
        href="/profile/#">

            <label class="switch">
                <input type="checkbox" checked id="btn1">
                <span class="slider round"></span>
            </label>

            <!-- <span class="float-left">View Details</span> -->
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
