<div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
            <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
            </div>
            <div class="mr-5">Device 2


              <!-- Timer -->
              <div class="input-group mb-3">
                  <input type="number" class="form-control timer-Lamp-2 btn-lg"
                  placeholder="Timer"
                  onfocus="this.value=''"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2">
                  <div class="input-group-append">
                      <button class="btn btn-info button-timer-Lamp-2-Active btn-lg"
                      type="button"
                      id="button-addon2 ">
                      <i class="glyphicon glyphicon-ok"></i>
                      </button>

                      <button class="btn btn-danger button-timer-Lamp-2-Cancel btn-lg"
                      type="button"
                      id="button-addon2 ">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
              </div>


              <!-- timer -->
              <div class="value-timer-lamp-2">
                  <b>time</b>
              </div>

            </div>



        </div>
        <a class="card-footer text-white clearfix small z-1"
        href="/profile/#">

            <label class="switch">
                <input type="checkbox" checked checked id="btn2">
                <span class="slider round"></span>
            </label>

            <!-- <span class="float-left">View Details</span> -->
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
